<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkingManagement"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAgqIFjjP2wUFfx0ruEEJZaKLncQ_o8SrI"/>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ParkingManagement">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Signupactivity" />
        <activity android:name=".Entercode" />
        <activity android:name=".Homeactivity" />
        <activity android:name=".Forgotpassword" />
        <activity android:name=".Passwordchanged" />
        <activity android:name=".Vehicleregistration" />
        <activity android:name=".Verifycode" />
        <activity android:name=".Changepassword" />
        <activity android:name=".Otponemail" />
        <activity android:name=".Guesttimedetails" />
        <activity android:name=".Guestpersonaldetails" />
        <activity android:name=".Guestvehicledetails" />
        <activity android:name=".Selectspace" />
        <activity android:name=".Bookingdone" />
        <activity android:name=".Parkme" />
        <activity android:name=".Notifications" />
        <activity android:name=".Available" />
        <activity android:name=".Profile" />
    </application>

</manifest>